.navbar .container a h1 {
  color: #d36420 !important;
}

.wrapper .betterRo {
  padding-bottom: 11rem !important;
}
.wrapper .betterRo .sidebar {
  height: 100%;
  border: 1px dashed #d36420;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-radius: 5rem;
  padding: 2rem;
}
.wrapper .betterRo .sidebar hr {
  border: 1px dashed #d36420;
  color: #d36420;
}
.wrapper .betterRo .sidebar div h5 {
  font-size: 0.9rem;
}
.wrapper .betterRo .righBar .dashboardSec img {
  width: 50rem !important;
}
.wrapper .betterRo .righBar .adminForm .header {
  background-color: #d36420;
}
.wrapper .betterRo .righBar .adminForm button {
  background-color: #d36420 !important;
}