@media (max-width: 855px) {
  section .secondNav .dropHeader .jewel {
    font-size: 0.9rem !important;
  }
}
@media (max-width: 992px) {
  .heroSection .textSection {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .heroSection .textSection h2 {
    font-size: 1.5rem !important;
  }
  .heroSection .textSection h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem !important;
    max-width: 50rem;
  }
  .heroSection .textSection #display {
    margin-top: 7rem !important;
    position: absolute;
  }
  .heroSection .textSection .btn {
    margin-top: 4rem !important;
  }
}
@media (max-width: 800px) {
  .heroSection {
    max-width: 20%;
  }
  .heroSection .textSection {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 579px) {
  .heroSection .textSection {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .heroSection .textSection h2 {
    font-size: 1.5rem !important;
  }
  .heroSection .textSection h3 {
    font-size: 3rem !important;
  }
  .heroSection .textSection #display {
    font-size: 1rem !important;
  }
}
@media (max-width: 562px) {
  .heroSection .textSection {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .heroSection .textSection h2 {
    font-size: 1.5rem !important;
  }
  .heroSection .textSection h3 {
    font-size: 3rem !important;
  }
  .heroSection .textSection #display {
    margin-top: 9rem !important;
    position: absolute;
  }
  .heroSection .textSection .btn {
    margin-top: 4rem !important;
  }
}
@media (max-width: 400px) {
  .heroSection .textSection {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .heroSection .textSection h2 {
    font-size: 1.5rem !important;
  }
  .heroSection .textSection h3 {
    font-size: 2.6rem !important;
  }
  .heroSection .textSection #display {
    margin-top: 9rem !important;
    position: absolute;
  }
  .heroSection .textSection .btn {
    margin-top: 4rem !important;
  }
}
@media (max-width: 400px) {
  .heroSection .textSection {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .heroSection .textSection h2 {
    font-size: 1.5rem !important;
  }
  .heroSection .textSection h3 {
    line-height: 1.8rem !important;
    font-size: 2rem !important;
  }
  .heroSection .textSection #display {
    margin-top: 4rem !important;
    position: absolute;
  }
  .heroSection .textSection .btn {
    margin-top: 4rem !important;
  }
}
@media (min-width: 1117px) {
  .carouselWrapper #carouselExampleAutoplaying .carousel-inner .carousel-item .position-absolute {
    margin-left: 75rem !important;
  }
  .carouselWrapper #carouselExampleAutoplaying .carousel-inner .carousel-item .interoi {
    position: absolute;
    margin-left: 83rem !important;
  }
  .carouselWrapper #carouselExampleAutoplaying .carousel-inner .carousel-item .Toys {
    position: absolute;
    margin-left: 83rem !important;
  }
}
@media (max-width: 1117px) {
  .carouselWrapper #carouselExampleAutoplaying .carousel-inner .carousel-item .position-absolute {
    margin-left: 45rem !important;
  }
  .carouselWrapper #carouselExampleAutoplaying .carousel-inner .carousel-item .interoi {
    position: absolute;
    margin-left: 53rem !important;
  }
  .carouselWrapper #carouselExampleAutoplaying .carousel-inner .carousel-item .Toys {
    position: absolute;
    margin-left: 48rem !important;
  }
}
@media (max-width: 1017px) {
  .carouselWrapper #carouselExampleAutoplaying .carousel-inner .carousel-item .position-absolute {
    margin-left: 37rem !important;
  }
  .carouselWrapper #carouselExampleAutoplaying .carousel-inner .carousel-item .interoi {
    position: absolute;
    margin-left: 45rem !important;
  }
  .carouselWrapper #carouselExampleAutoplaying .carousel-inner .carousel-item .Toys {
    position: absolute;
    margin-left: 40rem !important;
  }
}
@media (max-width: 990px) {
  .carouselWrapper {
    margin-top: 8rem !important;
  }
  .carouselWrapper #carouselExampleAutoplaying .carousel-inner .carousel-item .position-absolute {
    margin-left: 37rem !important;
  }
  .carouselWrapper #carouselExampleAutoplaying .carousel-inner .carousel-item .interoi {
    position: absolute;
    margin-left: 45rem !important;
  }
  .carouselWrapper #carouselExampleAutoplaying .carousel-inner .carousel-item .Toys {
    position: absolute;
    margin-left: 40rem !important;
  }
}
@media (max-width: 910px) {
  .carouselWrapper #carouselExampleAutoplaying .carousel-inner .carousel-item .position-absolute {
    margin-left: 37rem !important;
  }
  .carouselWrapper #carouselExampleAutoplaying .carousel-inner .carousel-item .interoi {
    position: absolute;
    margin-left: 45rem !important;
  }
  .carouselWrapper #carouselExampleAutoplaying .carousel-inner .carousel-item .Toys {
    position: absolute;
    margin-left: 40rem !important;
  }
}
@media (max-width: 893px) {
  .carouselWrapper #carouselExampleAutoplaying .carousel-inner .carousel-item .position-absolute {
    margin-left: 37rem !important;
  }
  .carouselWrapper #carouselExampleAutoplaying .carousel-inner .carousel-item .interoi {
    position: absolute;
    margin-left: 40rem !important;
  }
  .carouselWrapper #carouselExampleAutoplaying .carousel-inner .carousel-item .Toys {
    position: absolute;
    margin-left: 40rem !important;
  }
}
@media (max-width: 806px) {
  .carouselWrapper #carouselExampleAutoplaying .carousel-inner .carousel-item .position-absolute {
    margin-left: 37rem !important;
  }
  .carouselWrapper #carouselExampleAutoplaying .carousel-inner .carousel-item .interoi {
    position: absolute;
    margin-left: 35rem !important;
  }
  .carouselWrapper #carouselExampleAutoplaying .carousel-inner .carousel-item .Toys {
    position: absolute;
    margin-left: 40rem !important;
  }
}