* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

body {
  max-width: 100%;
}

header .modal .modal-dialog .modal-content .btn {
  background-color: #d36420;
}
header .modal .modal-dialog .modal-content .modal-body form .mb-3 .form-check-label {
  font-size: 0.8rem;
}
header .modal .modal-dialog .modal-content .modal-body form .mb-3 a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #d36420;
}
header .navbar {
  background-color: #fffdee !important;
}
header .navbar .navCon .navbar-brand img {
  max-width: 4rem;
}
header .navbar .navCon .collapse form .form-control:focus::-moz-placeholder {
  transform: translateY(-1.1rem);
  -moz-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}
header .navbar .navCon .collapse form .form-control:focus::placeholder {
  transform: translateY(-1.1rem);
  transition: 2s ease-in-out;
}
header .navbar .navCon .collapse .navbar-nav .btn-danger {
  background-color: #d36420;
  width: 5rem;
}
header .navbar .navCon .collapse .navbar-nav .dropCar {
  position: relative;
}
header .navbar .navCon .collapse .navbar-nav .dropCar .dropHover {
  position: absolute;
  display: none;
}
header .navbar .navCon .collapse .navbar-nav .dropCar:hover .dropHover {
  display: block;
}
header .navbar .secondNav .secondnavWrapper .dropHeader {
  position: relative;
}
header .navbar .secondNav .secondnavWrapper .jewel {
  color: #d36420 !important;
  text-decoration: none;
}
header .navbar .secondNav .secondnavWrapper:hover .jewel {
  color: black !important;
}
header .navbar .secondNav .secondnavWrapper:hover .jewel::after {
  content: "";
  max-width: 30%;
  height: 2px;
  background-color: black;
  position: absolute;
  top: 2rem;
  left: 20px;
}
header .navbar .secondNav .secondnavWrapper .dropDown {
  width: 25rem;
  display: none;
  position: absolute;
}
header .navbar .secondNav .secondnavWrapper .dropDown #listing {
  text-decoration: none;
  margin-left: 1rem;
  line-height: 2rem;
  color: black;
}
header .navbar .secondNav .secondnavWrapper:hover .dropDown {
  display: block;
}