* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  scroll-behavior: smooth;
}

.productsSection {
  margin-top: 10rem;
}
.productsSection #productDisplay {
  display: grid;
  grid-template-columns: repeat(3, 450px);
}