.heroSection {
  line-height: 3rem;
  height: 75vh;
  margin-top: 5.5rem;
}
.heroSection .container .textSection h6 {
  font-size: 1rem;
}
.heroSection .container .textSection h3 {
  font-size: 5rem;
  line-height: 4rem;
  color: #d36420;
}
.heroSection .container .textSection .btn {
  background-color: white;
  border: 0;
  color: #d36420;
  padding: 14px 80px 14px 65px;
}
.heroSection .container .textSection .btn a {
  text-decoration: none;
  color: #d36420;
}