* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

#JumpTop {
  position: fixed;
  z-index: 10;
  right: 0;
  bottom: 0;
  animation: scrollupAnimation infinite 1s;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
}
#JumpTop .top {
  font-size: 0.7rem !important;
}

.carouselWrapper {
  margin-top: 9rem !important;
  height: 50% !important;
}
.carouselWrapper #carouselExampleAutoplaying .carousel-inner .carousel-item img {
  height: 30rem !important;
}
.carouselWrapper #carouselExampleAutoplaying .carousel-inner .carousel-item .position-absolute {
  margin-left: 54rem !important;
}
.carouselWrapper #carouselExampleAutoplaying .carousel-inner .carousel-item .interoi {
  position: absolute;
  margin-left: 63rem !important;
}
.carouselWrapper #carouselExampleAutoplaying .carousel-inner .carousel-item .Toys {
  position: absolute;
  margin-left: 58rem !important;
}

.heroSection {
  line-height: 3rem;
  height: 100%;
  width: 100% !important;
  padding: 9rem 0 9rem 0 !important;
}
.heroSection .container .textSection h6 {
  font-size: 1rem;
}
.heroSection .container .textSection h3 {
  font-size: 5rem;
  line-height: 4rem;
  color: #d36420;
}
.heroSection .container .textSection #display {
  margin-top: 12rem;
  position: absolute;
}
.heroSection .container .textSection .btn {
  background-color: white;
  border: 0;
  color: #d36420;
  margin-top: 4rem;
  padding: 14px 80px 14px 65px;
}
.heroSection .container .textSection .btn a {
  text-decoration: none;
  color: #d36420;
}

.aboutSection {
  background-color: #fffdee;
  height: 100%;
}
.aboutSection .aboutHeader h6 a {
  font-size: 0.9rem !important;
}

@keyframes scrollupAnimation {
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-50px);
  }
}