* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.carouselWrapper {
  margin-top: 9rem !important;
  height: 50% !important;
}
.carouselWrapper #carouselExampleAutoplaying .carousel-inner .carousel-item img {
  height: 30rem !important;
}
.carouselWrapper #carouselExampleAutoplaying .carousel-inner .carousel-item .position-absolute {
  margin-left: 54rem !important;
}
.carouselWrapper #carouselExampleAutoplaying .carousel-inner .carousel-item .interoi {
  position: absolute;
  margin-left: 63rem !important;
}
.carouselWrapper #carouselExampleAutoplaying .carousel-inner .carousel-item .Toys {
  position: absolute;
  margin-left: 58rem !important;
}

.heroSection {
  line-height: 3rem;
  height: 100%;
  width: 100% !important;
  padding: 9rem 0 9rem 0 !important;
}
.heroSection .container .textSection h6 {
  font-size: 1rem;
}
.heroSection .container .textSection h3 {
  font-size: 5rem;
  line-height: 4rem;
  color: #d36420;
}
.heroSection .container .textSection .btn {
  background-color: white;
  border: 0;
  color: #d36420;
  padding: 14px 80px 14px 65px;
}
.heroSection .container .textSection .btn a {
  text-decoration: none;
  color: #d36420;
}

.aboutSection {
  background-color: #fffdee;
  height: 100%;
}