

// nav section area
@media (max-width : 855px){
    section{
        .secondNav{
            .dropHeader{
                .jewel{
                    font-size: .9rem !important;
                }
            }
        }
    }
}



// heroSection text
@media (max-width:992px) {
    .heroSection{
        .textSection{
            display: flex;
            justify-content: center;
            align-items: center;
            h2{
            font-size: 1.5rem !important ;
            }
            h3{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 4.5rem !important;
                max-width: 50rem;
            }
            #display{
              margin-top: 7rem !important;
              position: absolute;
            }
            .btn{
              margin-top: 4rem !important;

            }
        }
    }
}
@media (max-width:800px) {
    .heroSection{
      max-width: 20%;
        .textSection{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@media (max-width:579px) {
    .heroSection{
        .textSection{
            display: flex;
            justify-content: center;
            align-items: center;
            h2{
            font-size: 1.5rem !important ;
            }
            h3{
                font-size: 3rem !important;
                max-width: 9rem;
            }
            #display{
                font-size: 1rem !important;
            }
        }
    }
}

@media (max-width:562px) {
    .heroSection{
        .textSection{
            display: flex;
            justify-content: center;
            align-items: center;
            h2{
            font-size: 1.5rem !important ;
            }
            h3{
                font-size: 3rem !important;
                max-width: 9rem;
            }
            #display{
              margin-top: 19rem !important;
              position: absolute;
            }
            .btn{
              margin-top: 4rem !important;

            }
        }
    }
}


// carousel section media
@media (max-width : 1117px) {
    .carouselWrapper{
        #carouselExampleAutoplaying{
          .carousel-inner{
            .carousel-item{
              .position-absolute{
                margin-left: 45rem !important;
              }
              .interoi{
                position: absolute;
                margin-left: 53rem !important;
              }
              .Toys{
                position: absolute;
                margin-left: 48rem !important;
              }
            }
          }
        }
      }
}

@media (max-width : 1017px) {
    .carouselWrapper{
        #carouselExampleAutoplaying{
          .carousel-inner{
            .carousel-item{
              .position-absolute{
                margin-left: 37rem !important;
              }
              .interoi{
                position: absolute;
                margin-left: 45rem !important;
              }
              .Toys{
                position: absolute;
                margin-left: 40rem !important;
              }
            }
          }
        }
      }
}

@media (max-width : 990px) {
    .carouselWrapper{
      margin-top: 8rem !important;
        #carouselExampleAutoplaying{
          .carousel-inner{
            .carousel-item{
              .position-absolute{
                margin-left: 37rem !important;
              }
              .interoi{
                position: absolute;
                margin-left: 45rem !important;
              }
              .Toys{
                position: absolute;
                margin-left: 40rem !important;
              }
            }
          }
        }
      }
}


@media (max-width : 910px) {
    .carouselWrapper{
        #carouselExampleAutoplaying{
          .carousel-inner{
            .carousel-item{
              .position-absolute{
                margin-left: 37rem !important;
              }
              .interoi{
                position: absolute;
                margin-left: 45rem !important;
              }
              .Toys{
                position: absolute;
                margin-left: 40rem !important;
              }
            }
          }
        }
      }
}

@media (max-width : 893px) {
    .carouselWrapper{
        #carouselExampleAutoplaying{
          .carousel-inner{
            .carousel-item{
              .position-absolute{
                margin-left: 37rem !important;
              }
              .interoi{
                position: absolute;
                margin-left: 40rem !important;
              }
              .Toys{
                position: absolute;
                margin-left: 40rem !important;
              }
            }
          }
        }
      }
}

@media (max-width : 806px) {
    .carouselWrapper{
        #carouselExampleAutoplaying{
          .carousel-inner{
            .carousel-item{
              .position-absolute{
                margin-left: 37rem !important;
              }
              .interoi{
                position: absolute;
                margin-left: 35rem !important;
              }
              .Toys{
                position: absolute;
                margin-left: 40rem !important;
              }
            }
          }
        }
      }
}