*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
  max-width: 100%;
}
// nav
header{
  .modal{
    .modal-dialog{
      .modal-content{
        .btn{
          background-color: #d36420;
        }
        .modal-body{
          form{
          .mb-3{
            .form-check-label{
              font-size: .8rem;
            }
            a{
              text-decoration: none;
              font-size: .8rem;
              color: #d36420;
            }
          }
          }
        }
      }
    }
  }
    .navbar{
    background-color: #fffdee !important;

        .navCon{
            .navbar-brand{
                img{
                    max-width: 4rem;
                }
            }
            .collapse{
              form{
                .form-control{
                  &:focus::placeholder{
                    transform: translateY(-1.1rem);
                    transition: 2s ease-in-out;
                  }
                }
              }
                .navbar-nav{
                  .btn-danger{
                    background-color: #d36420;
                    width: 5rem;
                  }
                    .dropCar {
                        position: relative;
                        .dropHover {
                            position: absolute;
                          display: none;
                        }
                        
                        &:hover {
                          .dropHover {
                            display: block;
                          }
                        }
                      }
                      
                }
            }
        }

        .secondNav{
          .secondnavWrapper{
            .dropHeader{
              position: relative;
              }
              .jewel{
                color: #d36420 !important;
                text-decoration: none;
              }
              &:hover{
                .jewel{
                  color: black!important;
                }
                .jewel::after{
                  content: "";
                  max-width: 30%;
                  height: 2px;
                  background-color: black;
                  position: absolute; 
                  top: 2rem;
                  left: 20px;
                }
              }
              .dropDown{
                  width: 25rem;
                  display: none;
                  position: absolute;
                  
                  #listing{
                    text-decoration: none;
                    margin-left: 1rem;
                    line-height: 2rem;
                    color: black;
                  }
            }
              &:hover {
                .dropDown {
                  display: block;
                }
              }
      }
  }
          }
}





