*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  scroll-behavior: smooth;
}
  // about section
  #jumpTop{
    position: fixed;
    z-index: 10;
    right: 0;
    bottom: 0;
    animation: scrollupAnimation infinite 1s;
    display: none ;
    padding: .2rem .5rem;
    cursor: pointer;
    color: #d36420;
    .top{
      font-size: .7rem !important;
    }
  }
  // carousel section
    .carouselWrapper{
      margin-top: 9rem !important;
      // width: 50%;
      height: 50% !important;
      #carouselExampleAutoplaying{
        .carousel-inner{
          .carousel-item{
            img{
              height: 30rem !important;
            }
            .position-absolute{
              margin-left: 54rem !important;
            }
            .interoi{
              position: absolute;
              margin-left: 63rem !important;
            }
            .Toys{
              position: absolute;
              margin-left: 58rem !important;
            }
          }
        }
      }
    }
  
  // .heroSection

  .heroSection{
    line-height: 3rem;
    height: 100%;
    width: 100% !important;
    padding: 9rem 0 9rem 0 !important;
      .container{
          .textSection{
            h6{
              font-size: 1rem;
            }
            h3{
              font-size: 5rem;
              line-height: 4rem;
              color: #d36420;
            }
            #display{
              margin-top: 12rem;
              position: absolute;
            }
           .btn{
              background-color: white;
              border: 0;
              color: #d36420;
              margin-top: 4rem;
              padding: 14px 80px 14px 65px;
  
              a{
                text-decoration: none;
                  color: #d36420;
              }          
           }
          }
      }
  }


  // about section

  .aboutSection{
    background-color: #fffdee;
    height: 100%;
      .aboutHeader{
        h6{
          a{
            font-size: .9rem !important;
          }
        }
      }
}


@keyframes scrollupAnimation {
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-50px);
  }
}
