*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  
  // carousel section
    .carouselWrapper{
      margin-top: 9rem !important;
      // width: 50%;
      height: 50% !important;
      #carouselExampleAutoplaying{
        .carousel-inner{
          .carousel-item{
            img{
              height: 30rem !important;
            }
            .position-absolute{
              margin-left: 54rem !important;
            }
            .interoi{
              position: absolute;
              margin-left: 63rem !important;
            }
            .Toys{
              position: absolute;
              margin-left: 58rem !important;
            }
          }
        }
      }
    }
  
  // .heroSection

  .heroSection{
    line-height: 3rem;
    height: 100%;
    width: 100% !important;
    padding: 9rem 0 9rem 0 !important;
      .container{
          .textSection{
            h6{
              font-size: 1rem;
            }
            h3{
              font-size: 5rem;
              line-height: 4rem;
              color: #d36420;
            }
           .btn{
              background-color: white;
              border: 0;
              color: #d36420;
              padding: 14px 80px 14px 65px;
  
              a{
                text-decoration: none;
                  color: #d36420;
              }          
           }
          }
      }
  }


  // about section

  .aboutSection{
    background-color: #fffdee;
    height: 100%;
  }
  