

.navbar{
    .container{
            a{
                h1{
                    color: #d36420 !important;
                }
            }
    }
}

.wrapper {
    .betterRo {
      padding-bottom: 11rem !important;
      .sidebar {
        height: 100%;
        border: 1px dashed #d36420;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-radius: 5rem;
        padding: 2rem;
        hr {
          border: 1px dashed #d36420;
          color: #d36420;
        }
        div {
          h5 {
            font-size: .9rem;
          }
        }
      }

      .righBar{
        .dashboardSec{
            img{
                width: 50rem !important;
            }
        }
            .adminForm {
                .header {
                background-color: #d36420;
                }
                button {
                background-color: #d36420 !important;
                }
            }
        }
    }
  }
  