

.navbar{
    .container-fluid{
            a{
                h1{
                    color: #d36420 !important;
                }
            }
    }
}

.wrapper{
    .betterRo{
        padding-bottom: 10.6rem !important;
        .sidebar{
            height: 100% !important;
            border: 1px solid #d36420 !important;
        }
        a{
            background-color: black !important;
        }
        // &.focused {
        //     background-color: blue !important;
        //   }

       .adminForm{
        .header{
            background-color: #d36420;
        }
        button{
            background-color: #d36420 !important;
        }
       }
    }
}